/*                                                                            */
/*                           S T Y L I N G   F O R                            */
/*                    H E N R I K W A L L G R E N . C O M                     */
/*                                                                            */
/*              I S   T H I S   S T Y L E S H E E T   L O S T ?               */
/*       P E T   I T   W E L L   O R   R E T U R N   T O   M A S T E R :      */
/*                                                                            */
/*                   G I T H U B . C O M / C W E J M A N                      */
/*                                                                            */

@font-face {
  font-family: 'lane';
  src: url('../res/font.ttf');
}

/*                                                                            */
/*                         M E D I A   Q U E R I E S                          */
/*                            O N   S C R E E N S                             */
/*                                                                            */

@media only screen and (min-width: 900px) {

  .nav {
    font-size: 22.5px;
    padding: 15px 0;
  }

  .nav:hover {
    padding: 15px;
  }

  #wrapper {
    width: 675px !important;
  }

  #name {
    font-size: 60px !important;
    letter-spacing: 8px !important;
    padding: 15px 0;
  }

}

@media only screen and (min-width: 500px) {

  body {
    justify-content: center;
  }

  #wrapper {
    width: 75vw;
    box-shadow: 12px 0 15px -4px rgba(122, 122, 122, 0.1),
                -12px 0 8px -4px rgba(122, 122, 122, 0.1);
  }

  #name {
    box-shadow: none;
    font-size: 9vw;
    letter-spacing: 1vw;
    padding: 2vw 0;
  }

  #menu {
    box-shadow: none
  }

  .nav {
    font-size: 3vw;
    padding: 2vw 0;
  }

  .nav:hover {
    padding: 2vw
  }

}

@media only screen and (max-width: 500px) {

  body {
    justify-content: flex-start;
  }

  .nav {
    font-size: 18px;
    letter-spacing: 1px;
    padding: 8px 0;
  }

  #wrapper {
    width: 90vw;
    margin-top: 10vw;
    box-shadow: none;
  }

  #menu {
    padding-bottom: 8px;
    flex-wrap: wrap;
    box-shadow: 12px 0 15px -4px rgba(122, 122, 122, 0.1),
                -12px 0 8px -4px rgba(122, 122, 122, 0.1);
  }

  #name {
    font-size: 35px;
    padding: 20px 0;
    margin-bottom: 5vw;
    letter-spacing: 2px;
    box-shadow: 12px 0 15px -4px rgba(122, 122, 122, 0.1),
                -12px 0 8px -4px rgba(122, 122, 122, 0.1);
  }

}

/*                                                                            */
/*                             H T M L   B A S E                              */
/*                            D I R E C T I V E S                             */
/*                                                                            */

body, html {
  width: 100%;
  height: 100%;
  font-family: 'lane';
  color: rgb(22, 22, 22);
}

html {
  rgb(235, 241, 230);
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  margin: 0;
}

/*                                                                            */
/*                           E L E M E N T S   B Y                            */
/*                                    I D                                     */
/*                                                                            */


#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  -webkit-animation: fade 30s linear;
          animation: fade 30s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#stars {
  background-image: url('../res/stars.svg');
  background-size: 50%;
  background-repeat: repeat;
  position: fixed;
  top: -50vmax;
  left: -50vmax;
  width: 200vmax;
  height: 200vmax;
  -webkit-animation: night 30s linear;
          animation: night 30s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#cycle {
  background-image: url('../res/cycle.svg');
  position: fixed;
  bottom: -30vmin;
  left: calc(50vw - 50vmin);
  width: 100vmin;
  height: 100vmin;
  background-position: center;
  background-size: 130%;
  -webkit-animation: rotate 30s linear;
          animation: rotate 30s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#name {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

#menu {
  background-color: rgba(240, 240, 240, 0.7);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center
}

#master {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: white;
  letter-spacing: 2px;
}

/*                                                                            */
/*                           E L E M E N T S   B Y                            */
/*                                 C L A S S                                  */
/*                                                                            */

.layer {
  position: fixed;
  width: calc(100vw + 100px);
  height: 40vh;
  min-height: 400px;
  left: -50px;
  background-position: bottom;
  background-repeat: repeat-x;
  opacity: 0.8;
}

.spacer {
  width: 100%;
  height: 8px;
}

.back {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 16px 0;
}

.nav {
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: black !important;
  text-decoration: none;
  cursor: pointer;
}

.nav:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.odd {
  background-color: rgba(255, 255, 255, 0.1);
}
